<div class="all">
        <%= render "users/shared/account-settings"%>

    <div class="account-info">
        <div class="border-bottom">
            <h3>アカウント</h3>
            <h3><%= link_to "編集", href="/users/edit" %></h3>
        </div>

        <table class="table">
                <th scope="row">メールアドレス</th>
                <td><%= current_user.email %></td>
            <tbody>
                <th scope="row">パスワード</th>
                <td>******</td>
            </tbody>
        </table>
    </div>
</div>




    
